@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
:root {
    --main-bg-color: #fafbfb;
    --secondary-bg-color: white;

    --text-color-default: black;

    --primary-color: #eb7705;
    --secondary-color: #373737;

    --h1-color: var(--text-color-default);

    --categorie-color-application: red;
    --categorie-color-geek: green;
    --categorie-color-lifehack: #eb7705;
    --categorie-color-sport: blue;
    --categorie-color-bytheway: rgb(0, 133, 167);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 800px) {
        font-size: 18px;
        p {
            line-height: 1.8rem;
        }
    }
}


h1 {
    color: var(--h1-color);
    font-weight: 500;
    text-align: center;
}

h2 {
    color: var(--h1-color);
}

h3 {
    color: var(--h1-color);
}

h4 {
    color: var(--h1-color);
}

h5 {
    color: var(--h1-color);
}

.applications {
    color: var(--categorie-color-application);
}

.geek {
    color: var(--categorie-color-geek);
}

.lifehack {
    color: var(--categorie-color-lifehack);
}

.sport-santé {
    color: var(--categorie-color-sport);
}

.bytheway {
    color: var(--categorie-color-bytheway);
}

.lifehack {
    color: var(--categorie-color-lifehack);
}

.sport-santé {
    color: var(--categorie-color-sport);
}

#content {
    z-index: 0;
    max-width: 1024px;
    margin: auto;

    & ~ ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {

        article {
            background-color: #fff;
            box-shadow: 0px 5px 5px 3px rgba(0,0,0,0.05);
            margin: 2rem 2rem auto;
    
            display: flex;
            flex-direction: column;
    
            text-align: center;
    
            summary {
                list-style: none;
            }
    
            .article-review-img {
                flex: 1 ;
    
            }
    
            section {
                flex: 1;
                margin: 0 1rem;
            }
    
            img {
                max-width: 100%;
                height: auto;
                vertical-align: middle;
            }
    
            li {
                display: inline-block;
                
            }

            h1 {
                a {
                    color: var(--primary-color);
                }
            }

            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
    
            ul {
                width: 100%;
                line-height: 4rem;
            }
    
            
            @media screen and (min-width: 800px) {
                flex-direction: row;
            }
        }
    }
}

time {
    margin-bottom: 1rem;
    display: inline-block;
    color: #717b8e;
    font-style: italic;
    width: 100%;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}