h1 {
    @apply text-3xl mt-3 mb-3 font-bold;
    @screen lg {
        @apply text-5xl;
    }
}

h2 {
    @apply text-2xl mt-3 mb-3 font-bold;
    @screen lg {
        @apply text-4xl;
    }
    @screen dark {
        @apply text-orange-500;
    }
}

h3 {
    @apply text-xl mt-3 mb-3 font-bold;
    @screen lg {
        @apply text-3xl;
    }
    @screen dark {
        @apply text-orange-500;
    }
}

body {
    @apply bg-white text-black;

}

@screen dark {
    body {
        @apply bg-gray-800 text-white;
    }
  }

#article-single {

    #TableOfContents {
        ul {
            @apply list-disc pl-10;
        }
        a {
            &:hover {
                @apply text-orange-500 underline;
            }
        }
    }

    #article-content {

        a {
            @apply bg-orange-500;
            @screen dark {
                box-shadow: #2d3748 0 1em inset;
            }
            &:hover {
                @apply shadow-none;
                transition-duration: 0.5s;
            }
            box-shadow: #fff 0 1em inset;
        }
    
        strong {
            @apply text-orange-500;
        }
    
        em {
            @apply text-orange-500;
        }
    
        ul {
            @apply list-disc pl-10;
        }
    }
    
    @apply mr-2 ml-2;

    p {
        @apply mt-3;
    }

    img {
        max-width: 100vw;
        width: 100vw;
        @apply -ml-2 my-6;
        @screen lg {
            margin-left: calc(-35vw/2);
        }

        @screen xl {
            max-width: 80vw;
            width: 80vw;
            margin-left: calc(-30vw/2);
        }
    }

    @screen lg {
        max-width: 65vw;
        @apply mx-auto;
    }

    @screen xl {
        max-width: 50vw;
    }
}